# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
.env

# Ignore instance and run-cached folders
instance/
flask_session/

# Ignore git files
.git
.gitignore

# Ignore Dockerfile and docker-compose files
Dockerfile
docker-compose.yml

# Ignore other unnecessary files
*.log
*.sqlite
