## Exclude files and directories specific to this project
# Only keep dependencies requirements.txt
# Dependencies for develpment
requirements-dev.txt
# Diagnostic requirements to update gradually from a known point
requirements-pinned.txt
# Ignore the virtual environment and local runs
venv/
instance/
flask_session/
# Ignore test suites
test*/

## Common dockerignore for base Python
# Ignore Python cache files
**/__pycache__
*.pyc
*.pyo

# Ignore virtual environments
venv/
.env

# Ignore instance and run-cached folders
instance/
flask_session/

# Ignore git files
.git
.gitignore
.gitattributes

# Ignore Dockerfile and docker-compose files
Dockerfile
docker-compose.yml

# Ignore other unnecessary files
*.log
*.sqlite
