Política de Privacidad de surCO
Última actualización: {{ last_updated }}

1. Responsable del tratamiento de datos
Integración de Sistemas e Instrumentos, grupo investigador del Instituto de Energía Solar (Universidad Politécnica de Madrid) es el responsable del tratamiento de los datos personales recopilados a través de la aplicación móvil surCO y el servidor web asociado por defecto.

2. Información que recopilamos
La aplicación recopila y comunica los siguientes datos al servidor:

    - Datos del usuario: Dirección de correo electrónico (para registro y comunicación).
    - Datos de los sensores del teléfono: Información recopilada de sensores Bluetooth compatibles (irradiancia solar) y de los sensores cinemáticos y dinámicos de teléfono móvil (orientación y aceleración).
    - Datos de geolocalización: Coordenadas GPS durante la ruta para tracking y análisis.
    - Datos técnicos: Información sobre el dispositivo móvil (marca, modelo, sistema operativo) y la configuración de la aplicación surCO para garantizar compatibilidad.

Los datos de los sensores y de geolocalización exclusivamente se graban por acción expresa del usuario mediante la aplicación móvil, y que dicho proceso de adquisición está activo se mostrará explícitamente en la pantalla. En todo momento, el usuario podrá detener el proceso de adquisición.

3. Finalidad del tratamiento
Los datos se utilizan para:

    - Analizar rutas y datos técnicos para el análisis de viabilidad de integración fotovoltaica.
    - Mejorar la experiencia del usuario y el rendimiento de la app.
    - Contactar al usuario en caso de incidencias o comunicaciones de interés general.

5. Base legal para el tratamiento

    - Consentimiento: Al usar la app, aceptas esta política.
    - Ejecución de un contrato: Los datos son necesarios para prestar el servicio.
    - Interés legítimo: Para mejorar la app y prevenir fraudes.

6. Compartir datos con terceros

    - Autoridades: Si es requerido por ley.
    - No se venderán ni se transmitirán los datos a terceros.

7. Seguridad de los datos
Implementamos medidas técnicas y organizativas (ej.: cifrado, acceso restringido) para proteger los datos.

Dado que ningún sistema es robusto completamente, se seguirán las normas y recomendaciones aplicables en caso de filtrarse alguna información. En caso de que se detecte una filtración, se informarán a las autoridades competentes y a los usuarios afectados, y se procederá a mitigar futuras brechas según las posibilidades.

8. Retención de datos

    - Los datos se conservarán mientras sean objeto de estudio, la línea de investigación permanezca activa o sea necesario para fines legales.
    - El usuario puede solicitar la eliminación de su cuenta y datos asociados.

9. Derechos del usuario
De acuerdo con la legislación aplicable (Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016), puedes:

    - Acceder, rectificar o eliminar tus datos.
    - Oponerte al tratamiento o limitarlo.
    - Retirar tu consentimiento (sin afectar la legalidad del tratamiento previo).
    - Presentar una reclamación ante una autoridad de protección de datos.

10. Transferencias internacionales
El procesado de los datos se hará dentro de la Unión Europea de acuerdo con la normativa vigente.

11. Cambios en la política
Notificaremos cambios significativos mediante la app o por correo electrónico.

12. Contacto
Para ejercer tus derechos o dudas, contacta a:

    - Email: ies+apps+gdpr@upm.es
        Indicar en el asunto: surCO - GDPR
    - Dirección postal:
        INSTITUTO DE ENERGÍA SOLAR
        E.T.S.I. TELECOMUNICACIÓN
        Avenida  Complutense, 30
        Ciudad Universitaria
        28040 Madrid (SPAIN)

Esta iniciativa investigadora cuenta con la aprobación del Comité de Ética de la Universidad Politécnica de Madrid, con referencia MDISEEUMCC-RNJ-20241211. Puedes ponerte en contacto con el mencionado Comité de Ética mediante el correo: secretaria.adjunto.vinvestigacion@upm.es

Al utilizar la aplicación, confirmas que has leído y aceptado esta política.
