surCO Privacy Policy
Last updated: {{ last_updated }}

1. Data Controller
Integration of Systems and Instruments, a research group of Instituto de Energía Solar (Universidad Politécnica de Madrid), is responsible for processing personal data collected through the surCO mobile application and its associated web server by default.

2. Information We Collect
The application collects and communicates the following data to the server:

    - User data: Email address (for registration and communication).
    - Phone sensor data: Information collected from compatible Bluetooth sensors (solar irradiance) and mobile phone kinematic and dynamic sensors (orientation and acceleration).
    - Geolocation data: GPS coordinates during routes for tracking and analysis.
    - Technical data: Information about the mobile device (brand, model, operating system) and surCO application configuration to ensure compatibility.

Sensor and geolocation data is only recorded through explicit user action via the mobile application, and the active data collection process will be explicitly displayed on the screen. The user can stop the data collection process at any time.

3. Purpose of Processing
The data is used for:

    - Analyzing routes and technical data for photovoltaic integration feasibility studies.
    - Improving user experience and application performance.
    - Contacting users in case of incidents or general communications.

5. Legal Basis for Processing

    - Consent: By using the app, you accept this policy.
    - Contract performance: Data is necessary to provide the service.
    - Legitimate interest: To improve the app and prevent fraud.

6. Data Sharing with Third Parties

    - Authorities: When required by law.
    - Data will not be sold or transferred to third parties.

7. Data Security
We implement technical and organizational measures (e.g., encryption, restricted access) to protect data.

As no system is completely robust, applicable regulations and recommendations will be followed in case of any information leakage. If a breach is detected, competent authorities and affected users will be notified, and future breaches will be mitigated as possible.

8. Data Retention

    - Data will be retained while under study, while the research line remains active, or when required for legal purposes.
    - Users may request deletion of their account and associated data.

9. User Rights
According to applicable legislation (Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016), you may:

    - Access, rectify, or delete your data.
    - Object to or restrict processing.
    - Withdraw consent (without affecting the legality of prior processing).
    - File a complaint with a data protection authority.

10. International Transfers
Data processing will occur within the European Union in accordance with current regulations.

11. Policy Changes
Significant changes will be notified through the app or by email.

12. Contact
To exercise your rights or for questions, contact:

    - Email: ies+apps+gdpr@upm.es
        Subject line: surCO - GDPR
    - Postal address:
        INSTITUTO DE ENERGÍA SOLAR
        E.T.S.I. TELECOMUNICACIÓN
        Avenida  Complutense, 30
        Ciudad Universitaria
        28040 Madrid (SPAIN)

This research initiative has been approved by the Comité de Ética of Universidad Politécnica de Madrid, reference MDISEEUMCC-RNJ-20241211. You may contact the Ethics Committee at: secretaria.adjunto.vinvestigacion@upm.es

By using the application, you confirm that you have read and accepted this policy.
