{% extends "nav.html" %}
{% block title %}Sobre el programa{% endblock %}
{% block content %}
<link rel="shortcut icon" href="{{ url_for('static', filename='images/iconardo.png') }}">

<html>
<header>
	<h1>Sobre el Programa de Adquisición de Datos sobre Energía Solar en Vehículos</h1>
	<p>Se trata de una iniciativa de ciencia ciudadana para la evaluación experimental del rédito energético de los colectores solares sobre vehículos.</p>
</header>

<body>
	<!-- Main -->
	<div id="main">
		<!-- Introduction -->
		<section id="intro" class="main">
			<header class="major">
				<h2>¿Qué es el Programa de Adquisición de Datos sobre Energía Solar en Vehículos?</h2>
			</header>
			<div>
				<div class="content">
					<p>El Programa de Adquisición de Datos sobre Energía Solar en Vehículos es una iniciativa de ciencia ciudadana para la evaluación experimental de la viabilidad de la energía solar como fuente de energía alternativa para vehículos. A través de la instalación de sensores solares en vehículos y la recopilación de datos sobre su rendimiento, el programa busca cuantificar el rendimiento energético que podría producir un techo solar en un vehículo a lo largo de los recorridos que hagan los participantes.</p>
					<p>Los participantes en el programa pueden contribuir a la generación de conocimiento científico sobre la eficiencia y la viabilidad de la energía solar en vehículos, así como a la promoción de prácticas sostenibles en el uso de la energía.</p>
					<ul class="actions">
						<li><a href="/contact" class="button">Contáctanos</a></li>
					</ul>
				</div>
			</div>
		</section>
</body>

</html>

{% endblock %}
