{% extends "nav.html" %}
{% block title %}Perfil{% endblock %}

{% block content %}
<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
<html>
	<style>
		.container {
			max-width: 500px;
			margin: 0 auto;
			padding: 20px;
			background-color: #ffffff;
			box-shadow: 0 4px 6px rgba(0,0,0,0.1);
			border-radius: 2%;
			color:black
		}
	</style>
<head>
	<title>Mi perfil</title>
</head>

<body>
	<div class="container">
		<div class="vertical-container">
			<div class="vertical-item">
				<div class="info">
					<h2><strong>{{ user.username }}</strong> </h2>
				</div>

			</div>

			<!--div class="vertical-item">
			<iframe src="{# url_for('UserMaper', username=user.username) #}" width="400px" height="400"></iframe>
        	</div-->
		</div>
		<div class="horizontal-container">
			<div class="info">
				<p><strong>Correo electrónico:</strong> {{ user.email }}</p>
				<p><strong>Sesiones subidas:</strong> {{ n_files }} sesiones</p>
			</div>
		</div>

		<div class="button-container">
			<form class="logout-form" action="{{ url_for('web.logout') }}" method="post">
				<button type="submit">Cerrar sesión</button>
			</form>
		</div>
	</div>

</body>

</html>

{% endblock %}

</html>